<% provide(:title, "Index Page") %>
<% #provide(:specific_css, stylesheet_link_tag('welcome')) %>
<h1>Yuchen Zhou</h1>
<h2>(周宇辰)</h2>
<div class="profile_picture_container">
	<div class="row">
        <div class="col-xs-5">
			<%= image_tag("profile.jpg", :class => "img-responsive")%>
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-5">
			<%= image_tag("life.jpg", :class => "img-responsive")%>
        </div>
    </div>
</div>
