<% provide(:title, "Index Page") %>
<div class="margTop">
	<h1>Yuchen Zhou</h1>
	<h2>(周宇辰)</h2>
	<h3>Which Yuchen would you like to learn about?</h3>
	<div class="profile_picture_container margTop">
		<div class="row vertical-align">
	        <div class="col-xs-5">
				<%= link_to(image_tag("work.jpg", :class => "img-responsive", :onmouseover => "this.src='" + asset_path('work_hover.jpg') + "'", :onmouseout => "this.src='" + asset_path('work.jpg') + "'"), research_path) %>
	        </div>
	        <div class="col-xs-2">
	            <p style="text-align:center; font-size:30px;">or?</p>
	        </div>
	        <div class="col-xs-5">
				<%= link_to(image_tag("life.jpg", :class => "img-responsive", :onmouseover => "this.src='" + asset_path('life_hover.jpg') + "'", :onmouseout => "this.src='" + asset_path('life.jpg') + "'"),life_path) %>
	        </div>
	    </div>
	</div>
</div>
