<% provide(:title, "Education") %>
<div class="singleEntry">
	<h1>School Life</h1>
	<div class="textBlock">
		<p> I went to the high school affliated to Renmin University (人大附中) for 6 years, after I spent 6 years at Zhong Guan Cun Yi Xiao for primary school. </p>
		<%= image_tag("life/RDFZ.jpg", :class => "img-responsive medium_img") %>
		<div class="imageCaption">The high school affliated to Renmin University</div>
		<p> I was lucky enough to be admitted to the best engineering university in China - Tsinghua University. Here are a few pictures with my friends there!</p>
		<div class="row vertical-align">
		    <div class="col-md-6">
		    	<%= image_tag("life/grad_thu.jpg", :class => "img-responsive") %>
		    </div>
		    <div class="col-md-6">
		    	<%= image_tag("life/thu_reunion_2010.jpg", :class => "img-responsive") %>
		    </div>
		</div>
		<div class="imageCaption">With Friends at Tsinghua University</div>
		<p> After college, I came to the University of Virginia for Ph.D studies. </p>
		<%= image_tag("life/UVa.jpg", :class => "img-responsive medium_img") %>
		<div class="imageCaption">The Rotunda at University of Virginia</div>
	</div>
</div>
