<% provide(:title, "Sports Life") %>
<div class="singleEntry">
	<h1>Let's play ball!</h1>
	<div class="textBlock">
		<%= image_tag("life/basketball.jpg", :class => "img-responsive") %>
		<div class="imageCaption">Basketball game between UVa CSSS graduate students - 2010</div>
		<p> I love to play all sorts of sports in my spare time.  Basketball is my favorite sports and I've been playing it since primary school.  I picked up the rules of baseball and American football after I came to the States and have since become a big fan of them.  Unlike most Chinese I'm not into soccer (maybe because I can't run for a long time...)</p>
		<div class="row vertical-align margTopBot">
		    <div class="col-md-6">
		    	<%= image_tag("life/nats_park1.jpg", :class => "img-responsive") %>
		    </div>
		    <div class="col-md-6">
		    	<%= image_tag("life/nats_park2.jpg", :class => "img-responsive") %>
		    </div>
		</div>
		<div class="imageCaption">Pictures taken at National's Park, go RZim go!</div>
		<p> I don't get to play softball/football a lot (they are still rather unpopular among Chinese students), but I love to play catch with my wife.  I'm a big fan of Washington Nationals and Ryan Zimmerman (who also went to UVa!) and my wife and I used to go to the Nats games a couple times each season. </p>
	</div>
</div>
