<% provide(:title, "Sports Life") %>
<div class="singleEntry">
	<h1>Trading Card Games</h1>
	<div class="row vertical-align margTopBot">
	    <div class="col-md-4 col-md-offset-1">
	    	<%= image_tag("life/mtg.png", :class => "img-responsive") %>
	    </div>
	    <div class="col-md-4 col-md-offset-2">
	    	<%= image_tag("life/hearthstone.png", :class => "img-responsive") %>
	    </div>
	</div>
	<div class="textBlock">
		<p style="margin-top:20px;"> I'm a big fan of TCGs such as Magic: The Gathering and Hearthstone. I started playing M:TG as early as 1999 when the first set of Chinese cards were introduced to the world. My favorite format is draft/sealed in M:TG and arena in Hearthstone, where players can show their 'skills' regardless of how rich they are in real life:).  The word 'skill' is quoted because sometimes you get a big bomb and can just run away with it, but that's better than getting consistently beaten by imba cards/sick non-interactive combos!</p>
		<p> My biggest strength and weakness in terms of gameplay is that I value "value" too much. If you know a bit about TCG strategies, you know what I am talking about! I would always hate to pilot a red-burn (MTG) or face-hunter (Hearthstone) deck! </p>
		<p> Because MTG is so expensive, I've even created tools for my friends and I to simulate-draft Magic booster packs online, much like the <a href="http://drafts.in">drafts.in</a> app.  My app had a better looking UI than theirs!  However, it's impossible to dedicate myself to update the app and the project has since been obsolete. </p>
	</div>
</div>
