<div class="entry">
<h1>Research Overview</h1>
<div class="medium_picture_container">
<%= image_tag("work.jpg", :class => "img-responsive") %>
<p class="imageCaption">Yuchen presenting a poster (with Longze Chen) at Oakland 13'</p>
</div>
<div class="textBlock">
	<p style="color:red;"><b>[Note]: My job search has ended. I will be graduating May of 2015 and joining the <a href="http://researchcenter.paloaltonetworks.com/author/wei-xu/">security research team</a> @ <a href="http://www.paloaltonetworks.com">Palo Alto Networks</a> in June!</b></p>
	<p>My name is Yuchen Zhou, I am a senior <a href="http://www.cpe.virginia.edu/">Computer Engineering/Science</a> Ph.D student at <a href="http://www.virginia.edu/">University of Virginia</a>.</p>
	<p>Most of my Ph.D work are focused on improving the security and privacy of web application/third-party service.  My Advisor is <a href="http://www.cs.virginia.edu/~evans">Prof. David Evans</a>, and my internship mentor at Microsoft Research is <a href="http://research.microsoft.com/en-us/people/shuochen/">Dr. Shuo Chen</a>.  I have so far published five first-author papers, four of which in top-tier conferences such as <a href="http://www.ieee-security.org/TC/SP2015/">IEEE S&amp;P (Oakland)</a> and <a href="https://www.usenix.org/conference/usenixsecurity14">USENIX</a>.  For more details, please click on individual projects on the left side, or browse down the page for a brief introduction on each project.</p>
</div>
</div>
