<% provide(:title, "Research") %>
<div class="singleEntry">
	<h1 style="font-size:3em;">Awards, Patents, and Media Coverage</h1>
	<br>
	<br>
	<div class="textBlock">
		<ul>
			<li>
				<div>UVa today media coverage, 2015</div>
				<p>The research tools we developed in web security and privacy was covered by <a href="http://www.news.virginia.edu/content/giving-web-developers-tools-protect-their-sites-and-users">UVa Today</a> in Feburary, 2015.</p>
			</li>
			<li>
				<div>US Patent 20140258986, approved in 2014</div>
				<p>My work as a research intern at Microsoft Research has resulted in a patent: <a href="https://www.google.com/patents/US20140258986">Identifying Implicit Assumptions Associated with a Software Product</a>, which was submitted in Mar, 2013 and published in Sept, 2014.</p>
			</li>
			<li>
				<div>Louis T. Radar Award, 2014</div>
				<%= image_tag "research/awards/awards.jpg", :class => "img-responsive", :style => "margin-top:30px; width:300px;"%>
				<div style="font-size:1em; margin: 20px auto 30px auto; text-align: center;">Louis T. Radar Award for outstanding graduate research from School of Engineering and Applied Science, University of Virginia</div>
				<p>Yuchen was the recipient of the 2014 Louis T. Radar Graduate Research Award.  The award was issued at the annual luncheon to celebrate the end of a semester year.
				</p>
			</li>
			<li>
				<div>Google Research Award, 2014</div>
				<p>As the primary author, I contributed significantly to an award proposal and (along with my advisor Prof. David Evans) received a Google Research Award for our research in securing Single Sign-On enabled applications.  A total of $59,000 was gifted to our research lab to support future work in this area.
				</p>
			</li>
			<li>
				<div>NSF Grant Award, 2014</div>
				<p>As the primary author, I contributed significantly to a funding proposal (TrustWorthy Computing: Automated Security Testing for Applications Integrating Third-Party Services) and the proposal was approved for a $500,000 NSF Grant based on our research in securing Single Sign-On enabled applications.
				</p>
			</li>
			<li>
				<div>Student Travel Grant Award, USENIX 2013</div>
				<p>I was the recipient of student travel grant awards of <a href="https://www.usenix.org/conference/usenixsecurity13">USENIX Security, 2013</a>.</p>
			</li>
		</ul>
	</div>
</div>