<% provide(:title, "Research") %>
<div class="singleEntry">
	<h1 style="font-size:3em;">Academic Services</h1>
	<div class="textBlock">
		<ul>
			<li>
				<div>As program committee:</div>
				<p><a href="http://www.eisic.org/committee.aspx">European Intelligence and Security Informatics Conference (EISIC) 2015</a></p>
				<p><a href="http://meeting.xidian.edu.cn/conference/AsiaCCS2016/committees.html">ASIACCS 2016</a></p>
			</li>
			<li>
				<div>As reviewer/subreviewer:</div>
				<p>ACSAC 15'</p>
				<p>CCS 15'</p>
				<p>CSET 15'</p>
				<p>ICDCN 15'</p>
				<p>Transactions on Information and System Security</p>
				<p>Journal of Computers &amp; Security</p>
				<p>Journal of Future Internet</p>
			</li>
			<li>
				<div>As external reviewer:</div>
				<p>IEEE Security and Privacy Symposium (Oakland), 2015, 2013, 2012</p>
				<p>USENIX Security Symposium (USENIX), 2015, 2014, 2013, 2012, 2011</p>
				<p>ACM Conference on Computer and Communication Security (CCS), 2012</p>
				<p>Network and Distributed System Security (NDSS), 2012, 2011</p>
			</li>
		</ul>
	</div>
</div>
