<footer class="footer">
  <div>
    Yuchen's homepage
  </div>
  <nav>
    <ul>
      <li>Last updated: April, 24th, 2015</li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
